<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="predictions">
      <ion-icon name="football"></ion-icon>
      <ion-label>Predicciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rankings">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Rankings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-points">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Mis Puntos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>