<div id="wrapperH">
    <div id="scroller" ng-style="getTotalWidth()">
        <ul>
            <li ng-style="getWidth()" ng-repeat="page in pages track by page.id" >
                <div class="container">

                    <div class="row h-header green">
                        <div class="col-xs-4 text-left" ng-click="prevPage()">
                            <span ng-bind="pages[$index-1].name" ></span>
                        </div>
                        <div class="col-xs-4">
                            <span ng-bind="page.name" ></span>
                        </div>
                        <div  class="col-xs-4 text-right" ng-click="nextPage()">
                            <span ng-bind="pages[$index+1].name" ></span>
                        </div>
                    </div>

                    <div class="row" ng-hide="page.matches.empty">
                        <div id="{{wrapper.getName($index)}}" class="wrapper" >
                            <div class="scroller" >
                                <div class="container">


                                  <div class="row" >
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <table class="table" ng-repeat="league in page.matches.leagues" on-last-repeat>
                                            <thead>
                                            <tr>
                                                <th colspan="3" class="h-header light-blue">
                                                    <img class="h-shield h-tree" ng-src="{{getCompetitionShield(league.competiton_type.competition_logo)}}" onerror="this.src='img/shield-1.png'">
                                                    <span ng-bind="league.competiton_type.name"></span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="match in league.fixtures"
                                                data-match="{{ match.id_game_matches }}"  class="h-match">
                                                <td  class="col-xs-4"
                                                    ng-class="{winner: match.home_team_goals >= match.away_team_goals}">

                                                  <figure>
                                                    <img class="h-shield" ng-src="{{match.homeTeam.team_logo}}" onerror="this.src='img/shield-1.png'">
                                                    <figcaption><span ng-bind="match.homeTeam.short_name" class="h-name-team"></span></figcaption>
                                                  </figure>



                                                </td>
                                                <td  class="col-xs-4">

                                                    <span ng-bind="match.home_team_goals" class="h-goal-team"  ng-if="match.id_status != 3"></span>
                                                    <span  class="h-goal-team" ng-if="match.id_status != 3">-</span>
                                                    <span ng-bind="match.away_team_goals" class="h-goal-team"  ng-if="match.id_status != 3"></span>

                                                    <br />
                                                    <span ng-bind="getTime(match.date)" class="h-time"></span>
                                                    <br />
                                                    <span class="status _{{match.id_status}}">
                                                        {{ match.status | translate}}
                                                    </span>

                                                </td>
                                                <td  class="col-xs-4">

                                                  <figure>
                                                    <img class="h-shield" ng-src="{{match.awayTeam.team_logo}}" onerror="this.src='img/shield-2.png'">
                                                    <figcaption>
                                                      <span ng-bind="match.awayTeam.short_name" class="h-name-team"></span>
                                                    </figcaption>
                                                  </figure>



                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                  </div>


                                  <div class="row h-source" ng-show="showSource" style="border-top: solid 1pt #ffb600;">
                                    <div class="col-xs-12" style="padding: 15px  !important; text-align:left; ">
                                      {{'NEWS.SOURCE' | translate}} <span>: Perform Group</span>
                                    </div>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="no-content-panel" ng-show="page.matches.empty">
                        <i class="mdi-action-info-outline"></i>
                        <div class="no-content-panel-title" translate>EMPTY_STATES.MATCH</div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
