
appMasSport/*.sw[mnpcod]
appMasSport/*.log
appMasSport/*.tmp
appMasSport/*.tmp.*
appMasSport/log.txt
appMasSport/npm-debug.log*
appMasSport/node_modules/
appMasSport/tmp/
appMasSport/temp/
appMasSport/.sourcemaps/
appMasSport/.sass-cache/
appMasSport/.tmp/
appMasSport/hooks/
appMasSport/platforms/
appMasSport/plugins/
appMasSport/plugins/android.json
appMasSport/plugins/ios.json
appMasSport/www/
appMasSport/$RECYCLE.BIN/
appMasSport/.DS_Store
appMasSport/Thumbs.db     
appMasSport/UserInterfaceState.xcuserstate




Apps/MasSports/App/Masdist/
Apps/MasSports/App/Mastmp/
Apps/MasSports/App/Masapp/**/*.js
Apps/MasSports/App/Masapp/**/*.js.map
Apps/MasSports/App/Mas
Apps/MasSports/App/Masnode_modules/
Apps/MasSports/App/Masbower_components/
Apps/MasSports/App/Mas
Apps/MasSports/App/Mas.idea/
Apps/MasSports/App/Mas
Apps/MasSports/App/Mas.sass-cache/
Apps/MasSports/App/Masconnect.lock/
Apps/MasSports/App/Mascoverage/
Apps/MasSports/App/Maslibpeerconnection.log/
Apps/MasSports/App/Masnpm-debug.log
Apps/MasSports/App/Mastestem.log
Apps/MasSports/App/Mastypings/
Apps/MasSports/App/Mas
Apps/MasSports/App/Mase2e/*.js
Apps/MasSports/App/Mase2e/*.map
Apps/MasSports/App/Mas
Apps/MasSports/App/Mas.DS_Store/
Apps/MasSports/App/Mas