<div id="wrapper" class="page">
    <div class="scroller">
        <div class="container">

          <div class="row h-list news">

            <div class="col-xs-12"
                 ng-repeat="item in news track by item.idNews"
                 ng-show="hasNews"
                 on-last-repeat ng-click="showContentNews(item)">

              <div class="col-xs-12" style="border:0; padding:0;" ng-show="$index === 0">
                <img class="img-responsive"  src="{{item.resources.mid[0]}}" onerror="this.src='img/img-alternative.png'" alt="icon">
              </div>

              <div class="col-xs-12" style="border:0; padding:0;" ng-show="$index === 0">
                <br />
                <span class="h-headline h-ellipsis" style="font-weight:normal !important;">{{item.title}}</span>
                <br />
                <i class="mdi-device-access-time"></i>
                <span class="h-moment">{{fromNow(item.publicationDate)}}</span>
              </div>



              <div class="col-xs-4" style="border:0; padding:0;" ng-show="$index !== 0">
                <img class="img-thumbnail" style="width:85%; height: auto; min-height:70px;" src="{{item.resources.mid[0]}}" onerror="this.src='img/logo-120x120.png'" alt="icon">
              </div>

              <div class="col-xs-8" style="border:0; padding:0;" ng-show="$index !== 0">
                <span class="h-headline h-ellipsis" style="font-weight:normal !important;">{{item.title}}</span>
                <br />
                <i class="mdi-device-access-time"></i>
                <span class="h-moment">{{fromNow(item.publicationDate)}}</span>
              </div>

            </div>

          </div>

          </div>
        </div>
    </div>
</div>


<div id="wrapper2" class="page" style="left: 100%;" >
    <div class="scroller">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                  <br />
                  <img src="{{contentNewsImg}}" alt="{{contentNews.title}}" class="img-responsive"   onerror="this.src='img/img-alternative.png'">

                </div>
                <div class="col-xs-12">
                  <br />
                  <span class="h-headline">{{contentNews.title}}</span>
                  <br />
                  <i class="mdi-device-access-time"></i>
                  <span class="h-moment">{{fromNow(contentNews.publicationDate)}}</span>
                </div>
                <div class="col-xs-12">
                  <p class="h-body" ng-bind-html="contentNews.body"></p>
                </div>



            </div>

          <div class="row h-source">
            <div class="col-xs-12" style="margin: 15px auto; " >
              <span translate>NEWS.SOURCE</span><span>: Perform Group</span>
            </div>
          </div>

        </div>
    </div>


</div>

<!--div style="position: absolute; z-index: 120; top:0; right:20px; height:50px; line-height:50px;" ng-click="share(contentNews)" ng-show="isPageContentLeft">
  <i class="mdi-social-share" style="vertical-align: middle; color:#ffffff; "></i>
</div> -->

<div class="no-content-panel h-horizontal" ng-hide="hasNews">
  <div class="h-vertical">
    <i class="mdi-action-info-outline"></i>
    <div class="no-content-panel-title" translate>EMPTY_STATES.NEWS</div>
  </div>
</div>
