<div class="container" id="banner">
  	<div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
        		<h2 class="titleses">¡Participar en la promoción es muy fácil! <br/>
					Hay tres formas de hacerlo:</h2>
        </div>
    </div>
</div>

<div ng-app="psportApp" ng-controller="HowCtrl">
	<br />
	<br />
	<div class="container" id="banner italicker">
	  	<div class="row">
	        <div class="col-md-4 text-center">
	        	<div  style="height: 200px;  top: 50%;">
	        		<img src="images/how/icon_1.png" class="img-responsive imgheight center-block" alt="+Sport Logo"><br>
	        	</div>
	        	<div class="italicker">
					SMS al <b> <span ng-bind="shortcode"></span> </b>
				</div>
				<br />
	    		<div class="italicker">
					Enviando un mensaje de texto con la palabra MAS al <b> <span ng-bind="shortcode"></span> </b> para suscribirse.
				</div>
	        </div>
	        <div class="col-md-4 text-center">
	        	<img src="images/how/icon_2.png" class="img-responsive imgheight center-block" alt="+Sport Logo"><br>
	        	<div class="italicker">
					APP
				</div>
				<br />
				<div>
					<img src="images/main/google.png" id="play" class="img-responsive center-block" alt="+Sport Logo">
				</div>
				<br />
	    		<div class="italicker">
					Descargando el app +Sports en Google Play.
				</div>
				
	        </div>
	        <div class="col-md-4 text-center">
	        	<img src="images/how/icon_3.png" class="img-responsive imgheight center-block" alt="+Sport Logo"><br>
	        	<div class="italicker">
					PORTAL HTML
				</div>
				<br />
	    		<div class="italicker">	
					Ingresando desde el browser de tu móvil a <a href="http://massports.hecticus.com">http://massports.hecticus.com</a>			
				</div>
	        </div>

	    </div>
	</div>
	<br />
	<br />
</div>

