<div ng-app="psportApp" ng-controller="MainCtrl">
  <div class="container" id="banner italicker">
    <div class="row">
      <div class="col-md-12 text-center" >
        <h2 class="titlesesb shadows" style="color: white">¡Ser fanático sí PAGA!<br />
        ¡Sigue tus deportes favoritos y GANA MÁS!</h2>
      </div>
      <div class="col-md-6 text-center" >
        <div>
          <h3 class="titlesesb shadows" style="color: white">¡Ingresa tu número <span class="tyellow">+Móvil</span><br/> y participa <br /> para ganar hasta <span class="tyellow">B/. 10,000!</span></h3>
        </div>
        <div class="test" id="section" >
          
          <div id="form" style="margin: 20px" >
            <br />
            <h4 class="twhite">Suscribete</h4><hr>
            <div id="infobox" class="twhite">
              
            </div>
            <div class="form-group">
              <label for="celular" id="cel" class="twhite">Número de celular</label>
              <input class="form-control" type="number" name="celular" placeholder="Ej: 69961512" maxlength="14" >              <br />
              <label for="pin" id="pin" class="twhite">Ingrese su pin</label>
              <input class="form-control" type="text" name="pin" id="inputpin" placeholder="Ej: 6996" min="4" max="4" maxlength="4">
            </div>
            
            <button type="" class="btn-block" ng-click="clicked()" id="button">Enviar</button>
            <br />
            <div id="returndiv">
              <a class="twhite" href="#/" id="resent" ng-click="resent()">Reenviar PIN</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="twhite" href="#/" id="return" ng-click="return()">Regresar</a>
              <br />
            </div>
            <br />
          </div>
          
        </div>
        <br />
        <div class="col-md-6 text-center" >
          <img src="images/main/logo_small.png" class="img-responsive center-block" alt="+Sport Logo">
        </div>
        <div class="col-md-6 text-center" >
          <img src="images/main/google.png" id="play" class="img-responsive center-block" alt="+Sport Logo">
        </div>
      </div>
      <div class="col-md-6 text-center hidden-xs hidden-s" style="height:100%">
        <div class="col-md-12 text-center"  >
          <img src="images/main/smartphone.png" class="img-responsive center-block" alt="+Sport Logo" style="padding-top: 40px"><br>
        </div>
        
      </div>
      
      
    </div>
  </div>
</div>
<br />