

<div ng-app="psportApp" ng-controller="PriceCtrl">
	<div class="container" id="banner italicker">
	  	<div class="row">
	        <div class="col-md-10 col-md-offset-1  text-center">
	        	<div  >
	        		<img src="images/price/icon_1.jpg" class="img-responsive center-block" alt="+Sport Logo"><br>
	        	</div>
	        </div>
	    </div>
	</div>

</div>

<div class="container" id="banner">
  	<div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
        		<h2 class="titleses">Serán hasta 8 ganadores de B/. 3.000</h2>
        </div>
    </div>
</div>

