<div ng-app="psportApp" ng-controller="PromoCtrl">
  <div class="container" id="banner italicker">
    <div class="row">
      <div class="col-md-12 text-center" style="    text-align: justify;  text-justify: inter-word;"><ol>
        <li><p align="justify" style="margin-bottom: 0.14in"><b>TERMINOS DE
        PARTICIPACI&Oacute;N</b></p>
      </ol>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Es requisito, para participar en la promoci&oacute;n,
      la aceptaci&oacute;n de las presentes bases y condiciones (en
      adelante las &ldquo;Bases&rdquo;) en su totalidad. La participaci&oacute;n
      en la promoci&oacute;n est&aacute; sujeta a las condiciones que se
      detallan en el presente documento. Podr&aacute;n participar todas
      aquellas personas naturales, mayores de edad que sean clientes de
      &ldquo;+M&oacute;vil&rdquo; (prepago o contrato), que residan en el
      territorio de Panam&aacute; y que desde este mismo territorio env&iacute;en
      mensajes SMS, utilicen las herramientas de participaci&oacute;n
      (aplicaci&oacute;n), o bien participen mediante la activaci&oacute;n
      de servicios especificados por +M&oacute;vil, de acuerdo a lo
      establecido en las presentes bases y que se encuentren al d&iacute;a
      en el pago de sus cuentas telef&oacute;nicas con +M&oacute;vil.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">De no dar cumplimiento a las condiciones aqu&iacute;
      dispuestas, el participante perder&aacute; todo derecho al premio.
      Quedan excluidos de esta promoci&oacute;n los n&uacute;meros
      celulares corporativos o empresarial de los trabajadores, empleados o
      colaboradores del Promotor, de +M&oacute;vil y/o de cualquier empresa
      contratada por &eacute;stas para la realizaci&oacute;n de cualquier
      prestaci&oacute;n relacionada con la promoci&oacute;n, que participen
      a trav&eacute;s de una cuenta celular que sea asignada por estas
      empresas para uso de trabajo o empresarial. Podr&aacute;n participar
      con sus cuentas personales o cuentas que sea de uso individual.
      Adicionalmente, quedan excluidos de esta Promoci&oacute;n los
      usuarios y suscriptores de tel&eacute;fonos de clientes Empresas
      (incluye Grandes Corporaciones; Negocios y Pymes previamente
      indicados y entregados por +M&oacute;vil) as&iacute; como todo
      usuario que por su propia iniciativa solicita sea incluido en el
      black list (lista negra) para participar en esta promoci&oacute;n.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Tal como se indica en las presentes bases y
      condiciones, la participaci&oacute;n en la promoci&oacute;n est&aacute;
      sujeta al uso de al menos una de las distintas formas que permite la
      obtenci&oacute;n de puntos para los efectos de la obtenci&oacute;n de
      los premios, en la manera que se detalla m&aacute;s adelante.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <ol start="2">
        <li><p align="justify" style="margin-bottom: 0.14in"><b>DURACI&Oacute;N
        DE LA PROMOCI&Oacute;N</b></p>
      </ol>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">La Promoci&oacute;n comenzar&aacute; el d&iacute;a
      06 de septiembre de 2019 a las 00:00 horas y finalizar&aacute; el 31
      de diciembre de 2019 a las 23:59 horas, en toda la Rep&uacute;blica
      de Panam&aacute;.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <ol start="3">
        <li><p align="justify" style="margin-bottom: 0.14in"><b>PROCEDIMIENTO
        DE PARTICIPACI&Oacute;N.</b></p>
      </ol>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Se podr&aacute; participar y/o suscribir de 3
      formas:</span></p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">1) Enviando un mensaje de texto con la palabra MAS
      al 9090 en donde el cliente recibir&aacute; la informaci&oacute;n del
      servicio y deber&aacute; confirmar la suscripci&oacute;n enviando
      ALTA MAS al 9090.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">2) A trav&eacute;s de la APP +Sport, la cual no
      tiene costo de descarga, en donde el cliente debe completar el
      proceso de suscripci&oacute;n (disponible para celulares con sistemas
      operativos Android)</span></p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font color="#0563c1"><u><a href="https://play.google.com/store/apps/details?id=com.hecticus.massports"><span lang="es-PA">https://play.google.com/store/apps/details?id=com.hecticus.massports</span></a></u></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">3) Enviando un mensaje de texto con la palabra MAS
      al 9091 en donde el cliente responde trivias, por cada acierto o
      desacierto se otorga 100 puntos, en caso de acierto se otorga 50
      puntos adicionales, costo por cada mensaje enviado es de B/.0.50. </span>
      </p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">El cliente podr&aacute; realizar pron&oacute;sticos
      deportivos en el APP +Sport, en donde por cada acierto que realice
      recibir&aacute; 50 puntos.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Si el cliente decide suscribirse a trav&eacute;s
      del m&eacute;todo 1 y 2 anteriormente descritos se le realizar&aacute;n
      dos (2) cobros diarios con un costo de B/.0.50 por cada mensaje
      recibido y acumular&aacute; 100 puntos por cada cobro efectivo. En
      caso de no tener saldo disponible no podr&aacute; recibir los
      mensajes diarios con los que se acumulan los puntos.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Para darse de baja el cliente, de manera gratuita,
      podr&aacute; enviar la palabra BAJA MAS al 9090, cancelando su
      participaci&oacute;n en la promoci&oacute;n para la escogencia de los
      premios, ya que para participar debe estar suscrito durante la
      vigencia de la promoci&oacute;n. </span>
      </p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Al darse de Baja, la aplicaci&oacute;n podr&aacute;
      mantenerse dentro del m&oacute;vil del cliente y conservar&aacute;
      los puntos acumulados hasta ese momento; sin embargo, no tendr&aacute;
      capacidad de optar por el premio. Estos puntos ser&aacute;n
      reactivados inmediatamente con afiliarse nuevamente a la promoci&oacute;n.
      Una vez el cliente est&eacute; suscrito nuevamente, se le realizaran
      los dos cobros diarios con un costo de B/.0.50 por cada mensaje
      recibido. Para optar por el premio debe estar suscrito al momento de
      finalizaci&oacute;n de la promoci&oacute;n.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <ol start="4">
        <li><p align="justify" style="margin-bottom: 0.14in"><b>PREMIOS Y
        SELECCI&Oacute;N DE GANADORES</b></p>
      </ol>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font face="Calibri, serif"><span lang="es-PA">Los usuarios en
      acumular mayor cantidad de puntos en el periodo establecido
      resultar&aacute;n los ganadores.</span></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font face="Calibri, serif"><span lang="es-PA">Ser&aacute;n elegidos
      dos (2) ganadores por cada periodo de la promoci&oacute;n.</span></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font face="Calibri, serif"><span lang="es-PA">Premios mensuales: los
      ganadores ser&aacute;n los usuarios que m&aacute;s puntos acumulen
      durante los periodos de la promoci&oacute;n: 1er periodo del 6 al 30
      de septiembre; 2do periodo del 1 al 31 de octubre; 3er periodo del 1
      al 30 noviembre y 4to periodo del 1 al 31 de diciembre. Los dos (2)
      ganadores recibir&aacute;n B/.1,000.00 en efectivo en la escogencia
      de ganadores los d&iacute;as 1 de octubre de 2019, 1 de noviembre de
      2019, 2 de diciembre 2019 y 2 de enero de 2020.  Cada participante
      solo podr&aacute; resultar ganador de un (1) &uacute;nico premio
      mensual por habilidad.</span></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font face="Calibri, serif"><span lang="es-PA">Premio final: Los dos
      (2) usuarios que acumulen m&aacute;s puntos durante toda la promoci&oacute;n
      del 6 septiembre al 31 diciembre 2019, ser&aacute;n ganadores de
      B/.5,000.00 en efectivo cada uno.</span></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Las posiciones mostradas en el ranking de la
      aplicaci&oacute;n se reflejar&aacute;n de acuerdo al puntaje de la
      &uacute;ltima actualizaci&oacute;n del sistema, la cual se realiza
      durante el d&iacute;a, cada dos (2) horas; por lo cual, es posible
      que la suma total de los puntos no se refleje inmediatamente dado que
      no se ejecuta en tiempo real.</span></p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Los ganadores se escoger&aacute;n de acuerdo a la
      &uacute;ltima actualizaci&oacute;n del sistema y +M&oacute;vil se
      reserva hasta un (1) mes para validar el puntaje de las l&iacute;neas
      participantes y contactar a los ganadores. </span>
      </p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Los ganadores ser&aacute;n contactados y citados a
      trav&eacute;s de su l&iacute;nea m&oacute;vil para la entrega de los
      premios que se realizar&aacute; en V&iacute;a Espa&ntilde;a, Plaza
      Internacional, edificio Torre BANCONAL (Banco Nacional de Panam&aacute;)
      por lo que los ganadores deber&aacute;n estar presente bajo sus
      propios medios. </span>
      </p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Los ganadores deber&aacute;n portar el celular
      participante y presentar original y copia de su c&eacute;dula o
      pasaporte original, vigentes al momento de retirar el premio. </span>
      </p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Para las l&iacute;neas Prepago, los cobros en
      todos los casos se har&aacute;n de la cuenta principal, para las
      l&iacute;neas postpago individual (consumer), est&eacute; deber&aacute;
      estar al d&iacute;a en su cuenta de telefon&iacute;a celular al d&iacute;a
      del cierre de la promoci&oacute;n y adem&aacute;s al momento de
      recibir el premio.</span></p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <font face="Calibri, serif"><span lang="es-PA">No podr&aacute;
      resultar ganador en la promoci&oacute;n vigente del 6 septiembre de
      2019 al 31 de diciembre de 2019, clientes o l&iacute;neas celulares
      que hayan resultado ganadores en la temporada del 1 mayo de 2019 al
      31 de agosto de 2019 y en la temporada del 1 enero de 2019 al 30 de
      abril de 2019.</span></font></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">Es responsabilidad de los usuarios mantener la
      aplicaci&oacute;n actualizada. Si existiera sospecha que los mensajes
      est&aacute;n siendo registrados como resultado de actividades
      fraudulentas, deshonestas, ilegales o en forma que intente
      influenciar injustamente el proceso de participaci&oacute;n, Cable &amp;
      Wireless Panam&aacute; se reserva el derecho a su absoluta discreci&oacute;n
      de descalificar dichos mensajes fraudulentos.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      
      </p>
      <p lang="en-US" class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <span lang="es-PA">No participan los colaboradores pertenecientes a
      las empresas: Sistemas M&oacute;viles, S.A., Cable &amp; Wireless
      Panam&aacute;, S.A., Agencia Publicitaria a cargo de esta promoci&oacute;n,
      ni tampoco los colaboradores de las empresas: Aydesa, Estratego,
      People Outsourcing, Royal Pro ni Sonitel, S.A. No participan cuentas
      pyme, corporativos, gobierno y Key Account.</span></p>
      <p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
      <br/>
      </div>
    </div>
  </div>
</div>
