<div ng-app="psportApp" ng-controller="PromoCtrl">
  <div class="container" id="banner italicker">
    <div class="row">
      <div class="col-md-12 text-center" style="    text-align: justify;  text-justify: inter-word;">
        <p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt'><b><span
          lang=ES-PA>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span></b><b><span lang=ES-PA>TERMINOS DE PARTICIPACIÓN</span></b></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Es requisito
          para participar en la promoción la aceptación de las presentes bases y
          condiciones (en adelante las “Bases”) en su totalidad. La participación en la
          promoción está sujeta a las condiciones que se detallan en el presente
          documento. Podrán participar todas aquellas personas naturales, mayores de edad
          que sean clientes de “+Móvil” (prepago o contrato), que residan en el
          territorio de Panamá y que desde este mismo territorio envíen mensajes SMS,
          utilicen las herramientas de participación (aplicación) o bien participen
          mediante la activación de servicios especificados por +Móvil, de acuerdo a lo
          establecido en las presentes bases y que se encuentren al día en el pago de sus
          cuentas telefónicas con +Móvil.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>De no dar cumplimiento
          a las condiciones aquí dispuestas, el participante perderá todo derecho al
          premio. Quedan excluidos de esta promoción los números celulares corporativos o
          empresarial de los trabajadores, empleados o colaboradores del Promotor, de
          +Móvil y/o de cualquier empresa contratada por éstas para la realización de
          cualquier prestación relacionada con la promoción, que participen a través de
          una cuenta celular que sea asignada por estas empresas para uso de trabajo o
          empresarial. Podrán participar con sus cuentas personales o cuentas que sea de
          uso individual. Adicionalmente, quedan excluidos de esta Promoción los usuarios
          y suscriptores de teléfonos de clientes Empresas (incluye Grandes
          Corporaciones; Negocios y Pymes previamente indicados y entregados por +Móvil)
          así como todo usuario que por su propia iniciativa solicita sea incluido en el
          black list (lista negra) para participar en esta promoción.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Tal como se
          indica en las presentes bases y condiciones, la participación en la promoción
          está sujeta al uso de al menos una de las distintas formas que permite la
          obtención de puntos para los efectos de la obtención de los premios, en la
          manera que se detalla más adelante.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt'><b><span
          lang=ES-PA>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span></b><b><span lang=ES-PA>DURACIÓN DE LA PROMOCIÓN</span></b></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>La Promoción
          comenzará el día 01 de mayo de 2019 a las 00:00 horas y finalizará el 31 de agosto
          de 2019 a las 23:59 horas, en toda la República de Panamá.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt'><b><span
          lang=ES-PA>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span></b><b><span lang=ES-PA>PROCEDIMIENTO DE PARTICIPACIÓN.</span></b></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Se podrá
          participar y/o suscribir de 3 formas:</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>1) Enviando un
          mensaje de texto con la palabra MAS al 9090 en donde el cliente recibirá la
          información del servicio y deberá confirmar la suscripción enviando ALTA MAS al
          9090.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>2) A través de
          la APP +Sport, la cual no tiene costo de descarga, en donde el cliente debe
          completar el proceso de suscripción (disponible para celulares con sistemas
          operativos Android)</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=EN-US><a
          href="https://play.google.com/store/apps/details?id=com.hecticus.massports"><span
          lang=ES-PA>https://play.google.com/store/apps/details?id=com.hecticus.massports</span></a></span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>3) Enviando un
          mensaje de texto con la palabra MAS al 9091 en donde el cliente responde
          trivias, por cada acierto o desacierto se otorga 100 puntos, en caso de acierto
          se otorga 50 puntos adicionales, costo por cada mensaje enviado es de B/.0.50. </span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>4) El cliente
          podrá realizar pronósticos deportivos en el APP +Sport, en donde por cada
          acierto que realice recibirá 50 puntos.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Si el cliente
          decide suscribirse a través del método 1 y 2 anteriormente descritos se le
          realizarán dos (2) cobros diarios con un costo de B/.0.50 por cada mensaje
          recibido y acumulará 100 puntos por cada cobro efectivo. En caso de no tener
          saldo disponible no podrá recibir los mensajes diarios con los que se acumulan
          los puntos.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Para darse de
          baja el cliente, de manera gratuita, podrá enviar la palabra BAJA MAS al 9090,
          cancelando su participación en la promoción para la escogencia de los premios,
          ya que para participar debe estar suscrito durante la vigencia de la promoción.
          </span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Al darse de
          Baja, la aplicación podrá mantenerse dentro del móvil del cliente y conservará
          los puntos acumulados hasta ese momento; sin embargo, no tendrá capacidad de
          optar por el premio. Estos puntos serán reactivados inmediatamente con afiliarse
          nuevamente a la promoción. Una vez el cliente esté suscrito nuevamente, se le
          realizaran los dos cobros diarios con un costo de B/.0.50 por cada mensaje
          recibido. Para optar por el premio debe estar suscrito al momento de
          finalización de la promoción.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoListParagraph style='text-align:justify;text-indent:-18.0pt'><b><span
          lang=ES-PA>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span></span></b><b><span lang=ES-PA>PREMIOS Y SELECCIÓN DE GANADORES</span></b></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Los usuarios en
          acumular mayor cantidad de puntos en el periodo establecido resultarán los
          ganadores.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Serán </span><span
          lang=ES-PA>dos (2) ganadores de <b>SALARIO POR UN AÑO</b>. El monto de cada
          salario corresponde a <b>B/. 800.00 en efectivo mensuales por un año</b>.</span><span
          lang=ES-PA> </span><span lang=ES-PA>Los premios se entregarán los primeros 5
          días hábiles de cada mes a partir de la fecha de escogencia del ganador. </span><span
          lang=ES-PA>La escogencia de ganadores será el día 2 de septiembre de 2019.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Las posiciones
          mostradas en el ranking de la aplicación se reflejarán de acuerdo al puntaje de
          la última actualización del sistema, la cual se realiza durante el día, cada
          dos (2) horas; por lo cual, es posible que la suma total de los puntos no se
          refleje inmediatamente dado que no se ejecuta en tiempo real.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Los ganadores se
          escogerán de acuerdo a la última actualización del sistema y +Móvil se reserva
          hasta un (1) mes para validar el puntaje de las líneas participantes y
          contactar a los ganadores. </span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Los ganadores
          serán contactados y citados a través de su línea móvil para la entrega de los
          premios que se realizará en las oficinas de Silver Solutions, El Dorado, Plaza
          Camino de Cruces, Planta Baja, Local #16, por lo que los ganadores deberán
          estar presente bajo sus propios medios.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Los ganadores
          deberán portar el celular participante y presentar original y copia de su
          cédula o pasaporte original, vigentes al momento de retirar el premio. </span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Para las líneas
          Prepago, los cobros en todos los casos se harán de la cuenta principal, para
          las líneas postpago individual (consumer), esté deberá estar al día en su cuenta
          de telefonía celular al día del cierre de la promoción y además al momento de
          recibir el premio.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>No podrá
          resultar ganador en la promoción, clientes o líneas celulares que hayan
          resultado ganadores en la temporada del 1 de septiembre al 31 de diciembre de
          2018 y 1 de enero hasta el 30 de abril de 2019.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>Es
          responsabilidad de los usuarios mantener la aplicación actualizada. Si
          existiera sospecha que los mensajes están siendo registrados como resultado de
          actividades fraudulentas, deshonestas, ilegales o en forma que intente
          influenciar injustamente el proceso de participación, Cable &amp; Wireless
          Panamá se reserva el derecho a su absoluta discreción de descalificar dichos
          mensajes fraudulentos.</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>&nbsp;</span></p>
          
          <p class=MsoNormal style='text-align:justify'><span lang=ES-PA>No participan
          los colaboradores pertenecientes a las empresas: Sistemas Móviles, S.A., Cable
          &amp; Wireless Panamá, S.A., Agencia Publicitaria a cargo de esta promoción, ni
          tampoco los colaboradores de las empresas: Aydesa, Estratego, People
          Outsourcing, Royal Pro ni Sonitel, S.A. No participan cuentas pyme,
          corporativos, gobierno y Key Account.</span></p>
      </div>
    </div>
  </div>
</div>
