

<div ng-app="psportApp" ng-controller="QaCtrl">
	<div class="container" id="banner italicker">
	  	<div class="row">
	        <div class="col-md-12 text-center" style="text-align: justify;  text-justify: inter-word;">
	        	<h3 class="titleses">¿Qué es +Sports?</h3>
				<p>
					+Sports es un servicio que le permite al usuario suscrito obtener informaciones sobre béisbol y futbol: calendarios, estadísticas, minuto a minuto de los juegos. Además, puede hacer pronósticos deportivos de diferentes competiciones del momento y acumular puntos para participar en las promociones y así ganar atractivos premios. Esta temporada son ocho (8) ganadores de hasta de B/. 3,000 en efectivo. Los usuarios que estén suscritos a +Sports adquieren puntos, los cuales se convierten en oportunidades de ganar.
				<h3 class="titleses">¿Cómo participar en +Sports?</h3>
				<p>
				Puedes participar de diferentes formas:
				</p>
				<ol>
				<li>Enviando un mensaje de texto con la palabra MAS al 9090 y siguiendo las instrucciones para suscribirte.</li>
				<li>Descargando el app +Sports en Google Play y suscribiéndote en la sección destinada a tal fin.</li>
				<li>Ingresando desde el browser de tu móvil a <a href="http://massports.hecticus.com">http://massports.hecticus.com</a> y suscribiéndote en la sección destinada a tal fin.</li>
				</ol>

				<h3 class="titleses">¿Cuáles son los premios de +Sports?</h3>
				<p>
					+Sports entrega ocho premios de hasta B/. 3,000 en efectivo. Los ganadores serán quienes acumulen mayor cantidad de puntos en el período dado.	</p>

				<h3 class="titleses">¿Cómo obtener más posibilidades de ganar en +Sports?</h3>
				<p>
				Diariamente recibirás dos mensajes de texto de B/. 0.50 cada uno. Por cada cobro exitoso obtendrás 100 puntos.
				</p><p>
				Si tienes el app +Sports en tu móvil o ingresaste a través del portal HTML5, puedes hacer pronósticos deportivos de diferentes competiciones del momento. Por cada acierto que realices con los pronósticos deportivos, recibirás 50 puntos.
			</p><p>
				El cliente podrá incrementar su puntuación enviando MAS al 9091 respondiendo trivias en donde acumulará 100 puntos por cada mensaje enviado, cuyo costo será de B/.0.50 cada uno. 
			</p>

			<h3 class="titleses">¿Cuál es la vigencia de la promoción?</h3>
				<p>
					La Promoción es válida del día 1 de enero a las 00:00 horas al 30 de abril de 2019 a las 23:59 horas.

				<h3 class="titleses">¿Cuál es el costo por participar en +Sports?</h3>
				<p>
						El usuario recibirá dos mensajes diarios de costo B/. 0.50 cada uno.
					</p>

				<h3 class="titleses">¿Cuáles son los comandos habilitados como válidos en el +Sports?</h3>
				<p>
				A continuación los comandos habilitados en el 9090:</p>
				<ul>
					<li>
							ALTA MAS: Suscribe al usuario. Este recibe un mensaje de bienvenida.</li>
				<li>
						SPORT: Suscribe al usuario. Este recibe un mensaje para que el usuario confirme la suscripción.</li>
				<li>
						MAS: Suscribe al usuario. Este recibe un mensaje para que el usuario confirme la suscripción.</li>
				</ul>
				<h3 class="titleses">¿Cómo puedo conseguir la APP?</h3>
				<p>
						La APP +Sports está disponible para Android. Búscala en tu tienda de aplicaciones e instálala gratis en tu celular para empezar a disfrutar.
				</p>


				<h3 class="titleses">¿La aplicación +Sports tiene algún costo?</h3>
				<p>
						La descarga de la aplicación es totalmente gratuita.
					</p>

				<h3 class="titleses">¿Por qué debo jugar en la aplicación/Html5 de +Sport?</h3>
				<p>
						Para acumular más puntos puede entrar a la app/html5 de +Sport y hacer tus predicciones en las diferentes competiciones que están activas.
					</p>

					<h3 class="titleses">¿Cómo puedo jugar en la aplicación/Html5 de +Sport?</h3>
					<p>
							Los usuarios que se suscriben a +Sport reciben en el mensaje de bienvenida la contraseña de acceso a la app y/o al html5 de +Sport.  Cuando entras te pide tu número de celular, contraseña y luego te pedirá el Apodo con el deseas identificarte.  Esto te permite tener acceso a las diferentes competiciones para hacer tus predicciones y así poder acumular puntos.
					</p>
				<br />
        	</div>
	    </div>
	</div>
</div>



