<div ng-app="psportApp" ng-controller="WinCtrl">
  <div class="container" id="banner italicker">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center yellow">
        <div>
          <h3 class="titlesesb">TEMPORADA DEL 01 DE SEPTIEMBRE AL 31 DE DICIEMBRE: Beatriz Torrente</h3>
        </div>
        <div class="col-md-6 col-md-offset-3 text-center white" style="margin-bottom: 15px">
          <div style="padding: 8px">
            Escogencia de ganadores el 31 de diciembre de 2016
          </div>
          <div>
            <img src="images/win/winner_season_2_large.jpg" class="img-responsive imgheight center-block" alt="+Sport Winner"><br>
          </div>
          <div>
            B/. 25,000
          </div>
        </div>
        <br />
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col-md-12 text-center yellow" style="padding: 10px">
        <div class="col-md-12 text-center">Test
          <div>
            <h3 class="titlesesb">TEMPORADA DEL 01 DE JUNIO AL 31 DE AGOSTO</h3>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12 red">
            DEL 1 DE JUNIO AL 30 DE JUNIO

          </div>
          <div class="col-md-12  white" style="margin-bottom: 15px">
            <div class="titlesesc" style="font-style: italic;">
              <br />
              B/. 1,500: José Santana <br />
              B/. 1,000: Jaime Guerrero<br />
              B/. 500: Yeng Fai<br />
              <br /><br />
            </div>
            <div>
              <img src="images/win/money.png" class="img-responsive  center-block" alt="+Sport Logo"><br>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12 red">
            DEL 1 DE JULIO AL 31 DE JULIO
          </div>
          <div class="col-md-12  white" style="margin-bottom: 15px">
            <div class="titlesesc" style="font-style: italic;">
              <br />
              B/. 1,500: Eugenio Castro <br />
              B/. 1,000: Luris Medina <br />
              B/. 500: Abdiel Bonilla<br />
              <br /><br />
            </div>
            <div>
              <img src="images/win/money.png" class="img-responsive  center-block" alt="+Sport Logo"><br>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12 red">
            DEL 1 DE AGOSTO AL 31 DE AGOSTO
          </div>
          <div class="col-md-12  white" style="margin-bottom: 15px">
            <div class="titlesesc" style="font-style: italic;">
              <br />
              B/. 1,500: Rafael Ortega <br />
              B/. 1,000: Victor Maure <br />
              B/. 500: Marysol De León<br />
              <br /><br />
            </div>
            <div>
              <img src="images/win/money.png" class="img-responsive  center-block" alt="+Sport Logo"><br>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="col-md-12 red">
            GANADOR DEL SORTEO FINAL
          </div>
          <div class="col-md-12  white" style="margin-bottom: 15px">
            <div class="titlesesc" style="font-style: italic;">
              <br />
              Jaime Guerrero
              <br />
              <br />
            </div>
            <div>
              <img src="images/win/auto.png" class="img-responsive  center-block" alt="+Sport Logo"><br>
            </div>
            <div>
              SUZUKI VITARA 2017
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br />
  <br />
</div>
