.slide-padding {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
}
.slide-full{
  height: 100%
}
.center{
  margin: 0 auto;
  text-align: center;
}
.padding-left-right {
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  }
.tutorial {
  margin-top: -25px;
  float: right;
  width: 60px;
  height: 60px;
}
