<div class="row" ng-hide="friendsMode && !hasFriends">
    <div id="wrapperH">
        <div id="scroller" ng-style="getTotalWidth()">
            <ul>
                <li ng-style="getWidth()" ng-repeat="competition in item.competitions">

                  <div class="container" style="padding: 0 !important;">

                    <div class="row h-header green"  style="margin: 0 !important;">
                      <div class="col-xs-2" ng-click="prevPage($index)">
                        <span class="mdi-navigation-arrow-back" ng-hide="item.competitions[$index-1].name === undefined"></span>
                      </div>
                      <div class="col-xs-8 h-ellipsis-truncate">
                        <img class="h-shield h-tree" ng-src="{{getCompetitionShield(competition.competiton_type.competition_logo)}}" onerror="this.src='img/shield-1.png'">
                        <span ng-hide="$index===0" ng-bind="competition.competiton_type.name" class="caption"></span>
                        <span ng-show="$index===0" class="caption" translate>LEADERBOARD.GENERAL</span>
                      </div>

                      <div class="col-xs-2" ng-click="nextPage($index)">
                        <span class="mdi-navigation-arrow-forward" ng-hide="item.competitions[$index+1].name === undefined"></span>
                      </div>
                    </div>


                    <div class="row " style="margin: 0 !important;">
                      <div class="col-xs-12 h-header red" style="text-align:right;" ng-hide="$index===0">

                        <span class="badge disabled"
                              ng-class="{'disabled': isActive('competition{{$index}}')}"
                              ng-click="showTournament()"
                              ng-hide="$index===0">{{'LEADERBOARD.TOURNAMENT' | translate}}</span>

                        <span class="badge"
                              ng-class="{'disabled': isActive('phase{{$index}}')}"
                              ng-click="showPhase()"
                              ng-hide="$index===0">{{'LEADERBOARD.PHASE' | translate}}</span>

                      </div>

                    </div>



                    <div class="row" ng-show="hasLeaderboard">
                      <div id="{{vWrapper.getName($index)}}" class="wrapper"
                           style="margin-top:65px !important;">
                        <div class="scroller" style="position: relative;">

                          <div class="row">
                            <div class="col-xs-12" >
                              <table class="table h-table">
                                  <thead>
                                  <tr>
                                    <th class="h-header yellow" style="width:20%"  >##</th>
                                    <th class="h-header yellow left" style="width:60%" translate>LEADERBOARD.PLAYER</th>
                                    <th class="h-header yellow" style="width:20%" translate>LEADERBOARD.POINTS</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr ng-repeat="leader in competition.leaderboard"
                                      ng-class="{'active' : $odd,  'client' : competition.client.id_client == leader.id_client }" on-last-repeat>
                                    <td  style="width:20%" >
                                      <span class="text-center-vertical"
                                            ng-bind="leader.index" ></span>
                                    </td>
                                    <td  style="width:60%; text-align:left;" >
                                      <span class="text-center-vertical"
                                            ng-bind="leader.client"></span>
                                    </td>
                                    <td   style="width:20%">
                                      <span class="text-center-vertical"
                                            ng-bind="leader.score"></span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="row" ng-hide="hasLeaderboard">
                      <div class="col-xs-12 news">
                        <div class="no-content-panel" style="margin-top: 30px !important;">
                          <i class="mdi-action-info-outline"></i>
                          <div class="no-content-panel-title" translate>EMPTY_STATES.LEADERBOARD</div>
                        </div>
                      </div>
                    </div>


                  </div>









                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-show="friendsMode && !hasFriends">
    <div class="col-xs-12 news">
        <div class="no-content-panel" style="margin-top: 120px !important;">
            <i class="mdi-action-info-outline"></i>
            <div class="no-content-panel-title" translate>EMPTY_STATES.POINTS</div>
        </div>
    </div>
</div>
