<div class="row">

    <div id="wrapper" class="page">
      <div class="scroller">
        <div class="container  lh-tournament">

          <div class="row lh-list" ng-show="hasCompetitions" >

            <div class="col-xs-12 lh-list-row"
                 ng-repeat="competition in item.competitions"
                 ng-click="showContentPhases(competition)"
                 data-news="{{ competition.id_competitions }}" on-last-repeat>
              <img class="lh-shield" ng-src="{{getCompetitionShield(competition.competiton_type.competition_logo)}}" onerror="this.src='img/shield-1.png'">
              <span class="lh-caption">{{competition.competiton_type.name}}</span>
            </div>

          </div>


          <div class="row" ng-hide="hasCompetitions">
            <div class="col-xs-12">
              <div class="no-content-panel" style="margin-top: 120px !important;">
                <i class="mdi-action-info-outline"></i>
                <div class="no-content-panel-title" translate>
                  EMPTY_STATES.STANDINGS.NO_COMPETITIONS
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div id="wrapper2" class="page wrapper">
      <div class="scroller">
        <div class="container lh-page-match">

          <div class="row">
            <div class="col-xs-12 lh-header i">
              <img class="lh-shield" ng-src="{{getCompetitionShield(item.competition.competiton_type.competition_logo)}}" onerror="this.src='img/shield-1.png'">
              <span  ng-bind="item.competition.competiton_type.name"></span>
            </div>
          </div>

          <div class="row lh-list" ng-show="hasPhases">
            <div class="col-xs-12 lh-list-row " ng-repeat="phase in item.phases"
                 ng-click="showContentRanking(item.competition.id_competitions
                        , phase.id_phases)">
              <i class="mdi-action-bookmark lh-bullet"></i>
              <span class="lh-title" ng-bind="phase.global_name"></span>
            </div>
          </div>

          <div class="row" ng-hide="hasPhases">
            <div class="col-xs-12">
              <div class="no-content-panel" style="margin-top: 120px !important;">
                <i class="mdi-action-info-outline"></i>
                <div class="no-content-panel-title" translate>
                  EMPTY_STATES.STANDINGS.NO_PHASES
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div id="wrapper3" class="page wrapper">
      <div class="scroller">
        <div class="container lh-page-table">

          <div class="row">
            <div class="col-xs-12 lh-header ii">
              <img class="lh-shield" ng-src="{{getCompetitionShield(item.competition.competiton_type.competition_logo)}}" onerror="this.src='img/shield-1.png'">
              <span ng-bind="item.competition.competiton_type.name"></span>
              <span>-</span>
              <span ng-bind="item.phase.global_name"></span>
            </div>
          </div>

          <div class="row" ng-show="hasRankings">
            <div class="col-xs-12">
              <div ng-if="!!item.isTree">
                <div class="row" ng-repeat="rankings in item.ranking">
                  <div class="col-xs-12"
                       ng-repeat="ranking in rankings.ranking">

                    <table class="table">
                      <thead class="lh-header i">
                      <tr>
                        <th colspan="8" >
                          <span>{{fromNow(ranking.date)}}</span>
                        </th>
                      </tr>
                      </thead>
                      <tbody class="lh-page-match">
                      <tr class="lh-match">

                        <td class="col-xs-4" >
                          <figure>
                            <img class="lh-shield" ng-src="{{ranking.homeTeam.team_logo}}" onerror="this.src='img/shield-1.png'">
                            <figcaption>
                              <span ng-bind="ranking.homeTeam.name" class="lh-caption"></span>
                            </figcaption>
                          </figure>
                        </td>

                        <td class="col-xs-4"  >

                          <br />

                          <div style="background:none;">
                            <span class="lh-goal-team" ng-bind="ranking.home_team_goals" ></span>
                            <span class="lh-goal-team" >-</span>
                            <span class="lh-goal-team" ng-bind="ranking.away_team_goals" ></span>
                          </div>

                          <br />

                          <span class="status _{{ranking.status.id_status}}">
                            {{ match.status.name | translate}}
                          </span>








                            <!--span ng-bind="ranking.home_team_goals" class="h-goal-team"></span>
                            <span class="h-goal-team">-</span>
                            <span ng-bind="ranking.away_team_goals" class="h-goal-team"></span>
                            <br />
                            <span class="status _{{ranking.status.id_status}}" >
                              {{ranking.status.name | translate}}
                            </span-->

                        </td>

                        <td class="col-xs-4" >
                          <figure>
                            <img class="lh-shield" ng-src="{{ranking.awayTeam.team_logo}}" onerror="this.src='img/shield-2.png'">
                            <figcaption>
                              <span ng-bind="ranking.awayTeam.name" class="lh-caption"></span>
                            </figcaption>
                          </figure>
                        </td>

                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>


                <div class="row h-source" style="border-top: solid 1pt rgb(254,209,0);">
                  <div class="col-xs-12" style="padding: 15px  !important; text-align:left; ">
                    {{'NEWS.SOURCE' | translate}} <span>: Perform Group</span>
                  </div>
                </div>

              </div>

              <div ng-if="!item.isTree">
                <div class="row" ng-repeat="rankings in item.ranking">
                  <div class="col-xs-12">
                    <table class="table lh-table">
                      <thead >
                        <tr class="lh-header iii">
                          <th colspan="8" >
                            <span ng-bind="rankings.group_name"></span>
                          </th>
                        </tr >
                        <tr class="lh-header i">
                          <th ></th>
                          <th  style="text-align: left;" translate>
                            STANDINGS.TEAM
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.POINTS
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.MATCHES
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.MATCHES_WON
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.MATCHES_DRAWN
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.MATCHES_LOST
                          </th>
                          <th  translate>
                            STANDINGS.TABLE.GOALS_FOR
                          </th>
                        </tr>
                      </thead>
                      <tbody>

                      <tr ng-class="{'active' : $odd}"
                          ng-repeat="ranking in rankings.ranking">
                        <td >
                          <span ng-bind="$index+1"
                                class="text-center-vertical" style="font-weight:bold;"></span>
                        </td>
                        <td class="text-left" >
                          <img class="lh-shield" ng-src="{{ranking.team.team_logo}}" onerror="this.src='img/shield-1.png'">
                          <span ng-bind="ranking.team.short_name"
                                class="text-center-vertical"></span>
                        </td>
                        <td >
                          <span ng-bind="ranking.points"
                                class="text-center-vertical" style="font-weight:bold;"></span>
                        </td>
                        <td >
                                                <span ng-bind="ranking.matches"
                                                      class="text-center-vertical"></span>
                        </td>
                        <td >
                                                <span ng-bind="ranking.matches_won"
                                                      class="text-center-vertical"></span>
                        </td>
                        <td >
                                                <span ng-bind="ranking.matches_drawn"
                                                      class="text-center-vertical"></span>
                        </td>
                        <td >
                                                <span ng-bind="ranking.matches_lost"
                                                      class="text-center-vertical"></span>
                        </td>
                        <td >
                                                <span ng-bind="ranking.goals_for"
                                                      class="text-center-vertical"></span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>


                <div class="row h-source" ng-show="showSource" style="border-top: solid 1pt rgb(254,209,0);">
                  <div class="col-xs-12" style="padding: 15px  !important; text-align:left; ">
                    {{'NEWS.SOURCE' | translate}} <span>: Perform Group</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row" ng-hide="hasRankings">
            <div class="col-xs-12">
              <div class="no-content-panel" style="margin-top: 120px !important;">
                <i class="mdi-action-info-outline"></i>
                <div class="no-content-panel-title" translate>
                  EMPTY_STATES.STANDINGS.NO_PHASES
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>





