.error-messages {
    font-size: 0.9em;
    color: red;
    text-align: left;
  }
.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.padding-top-xs {
  padding-top: 2px;
  margin: 0 auto;
}
.padding-top-m{
  padding-top: 10px;
  margin: 0 auto;
}
.padding-botton-m{
  padding-bottom: 10px;
  margin: 0 auto;
}
.text-size-s{
  font-size: 0.8em;
  text-align: center;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.toolbar-div {
  margin: 16px;
  width: 92%;
  height: 60px;
  background-color: #0377B4;
}
.title {
  padding-top: 16px;
  text-align: center;
  color: #ffffff;
}
.title_label {
  margin-top: 1em;
  padding-left: 1em;
}
.item {
  margin-top:1em;
}
.input_login {
  width: 20px; 
  margin-left: 3em;
}
