@()
<head>
    <title>login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/extapi.css")">
</head>

        <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
        <div id="formContent">
                <!-- Login Form -->
            <form>
                <p class="titulo">Indique su numero de telefono para enviarle su contraseña</p>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Numero Telefono">
                <input type="submit" class="fadeIn fourth" value="recuperar contrasena">
            </form>

                <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="/extapi/login">Iniciar sesion</a>
            </div>

        </div>
    </div>

