@(goodie: Boolean)

@main("MAS DEPORTES - Confirmar") {

        @if(goodie){
            <div class="row">
                <div class="col-md-12">Bienvenido a +Deportes
                    <hr style="margin-top: 5px; width: 50%; color: white; height: 2px; " />
                </div>
            </div>
        } else {
            <div class="row">
                <div class="col-md-12">Pin invalido<br>intente nuevamente
                    <hr style="margin-top: 5px; width: 50%; color: white; height: 2px; " />
                </div>
            </div>
            <div class="row formst">
                <div class="col-md-12">
                    <button class="submitbutton" onclick="window.location.href ='/'">Volver</button>

                </div>
            </div>
        }
}
