@(ttype: String, restore: String)
@import scala.Predef; var p= 0


@aux() = {
    <div class="row">
        <div class="col-md-12">Usted ya pertenece a +Deportes
            <hr style="margin-top: 5px; width: 50%; color: white; height: 2px; " />
        </div>
    </div>
    <div class="row formst">
        <div class="col-md-12">
            <button class="submitbutton" onclick="window.location.href ='/?@restore'">Volver</button>

        </div>
    </div>


}

@if(ttype.equals("MOBUSI")) {
    @{ p  =  1 }
    @mainrus("+Sports") {
        @aux()
    }
}

@if(ttype.equals("SPIRALIS")) {
    @{ p  =  1 }
    @mainspi("+Sports") { @aux()  }
}

@if(ttype.equals("MOBRAIN")) {
    @{ p  =  1 }
    @maingre("+Sports") { @aux()  }
}

@if(ttype.equals("test")) {
    @{ p  =  1 }
    @mainrus("+Sports") {
        @aux()
    }
}


@if(p.equals(0)) {
    @mainrus("+Sports") { @aux() }
}
