@(msisdn: String, token: String, ttype: String)

@main("MAS DEPORTES") {

    <div id="outPopUp">
        <form action="/wap/getpin" method="post">

            <p>Bienvenido a +Deporte</p>
            <p>Bienvenido Usuario @msisdn, presiona Ok para recibir un mensaje de texto y empezar a ganar premios!</p>
            <br/>
            @if(msisdn.isEmpty()) {
                <span>Telefono:</span><br/>
            }
            <input  name="msisdn" @if(!(msisdn.isEmpty())){ type="hidden" }else{ type="text"} value="@msisdn" />
            <input  name="token" type="hidden" value="@token" />
            <input  name="ttype" type="hidden" value="@ttype" />
            <br/>
            <button type="submit">ok</button>
            @if(msisdn.isEmpty()) {
                <button type="reset">reset</button>
            }
        </form>

    </div>
}
