@(HD: models.wap.HandsetDetection)(content: Html)
@import play.i18n._
@import com.feth.play.module.pa.views.html._
<!DOCTYPE html
        PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//PT"
        "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>@Messages.get("APP_TITLE")</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    @ga()
</head>
    <body style="margin:0; padding:0; width:@HD.getBanner().get("width").asText()px; height:@HD.getBanner().get("height").asText()px;" >
        <div style='width:@HD.getBanner().get("width").asText()px; height:@HD.getBanner().get("height").asText()px; text-align: center;' >
            <img  src='@HD.getBanner().get("url").asText()'
                  style='width:@HD.getBanner().get("width").asText()px; height:@HD.getBanner().get("height").asText()px;' />
            <!--h3 style="text-transform: uppercase;">@Messages.get("APP_TITLE")</h3-->
            @content
        </div>
    </body>
</html>
