.center{
  margin: 0 auto;
  text-align: center;
}
.text-size-s{
  font-size: 0.8em;
  text-align: center;
}
.padding-top-xs {
  padding-top: 2px;
  margin: 0 auto;
}
.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.text-color-red {
  color: #FF0000;
}