<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-icon name="arrow-round-back" class="arrow-back" size="large"  color="primary" (click)="goBack()"></ion-icon>
      </ion-buttons>
      <ion-title>
      <div class="center">
        <img src="assets/img/logo.png" height="30"/>
      </div>
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Olvidó su clave o no se ha suscrito?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Para obtener su contraseña por favor ingrese su número de teléfono y presione "OBTENER CONTRASEÑA".
      </ion-card-content>
      <div class="padding-left-right">
        <ion-label color="danger">
          *El servicio está disponible sólo para suscriptores de +Móvil
        </ion-label>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Introduzca su número de teléfono móvil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>+507 </ion-label>
          <ion-input placeholder=" #12345678" type="tel" [(ngModel)]="msisdn"></ion-input>
        </ion-item>
        <div class="padding-top-xs">
          <ion-button (click)="getPassword()" shape="round" size="default" color="danger" expand="block">Obtener Contraseña</ion-button>
        </div>
        <div class="center">
          <a class="text-size-s" href="http://www.masmovil.com.pa/">Términos y Condiciones</a>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
