<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" style="position: absolute; z-index: 2;">
            <div class="form-group well search-bar">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="{{'SETTINGS.LANGUAGE_SEARCH_HELPER' | translate}}" ng-model="searchQuery">
                    <span class="input-group-addon">
                        <i class="icon mdi-action-search"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-show="languages.length > 0">
    <div id="wrapper" class="search-list-wrapper">
        <div class="scroller">
            <div class="list-group">
                <div ng-repeat="language in languages | filter: searchQuery">
                    <div class="list-group-item search-list-item" ng-click="languageSelected(language)">
                        <div class="row-action-primary">
                            <i class="lang-tag">{{language.short_name | uppercase}}</i>
                        </div>
                        <div class="row-content" style="margin-top: 5px;">
                            <h6 class="list-group-item-heading">{{language.translation}}</h6>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="languages.length > 0">
    <div class="col-xs-12">
        <div class="no-content-panel" style="margin-top: 120px !important;">
            <i class="mdi-action-info-outline"></i>
            <div class="no-content-panel-title" translate>EMPTY_STATES.LANGUAGES</div>
        </div>
    </div>
</div>
