@(HD: models.wap.HandsetDetection)(jNews: com.fasterxml.jackson.databind.JsonNode)(view: String)

@if(HD.getLevelSupport() < models.wap.HandsetDetection.HTML) {

    @xhtml(HD){
        @if(view == "summary") {
            <h3>@jNews.get("title").asText()</h3>
            <p style="font-size: small;">
                @jNews.get("summary").asText()
            </p>
            <p style="font-size: small;">
                <a href="@routes.Wap.index()">Volver</a>
            </p>
        } else {
            @for(item <- jNews.iterator()) {
                <p style="font-size: small;">
                    <a href='@routes.Wap.news(item.get("idNews").asInt())'>@item.get("title").asText()</a>
                </p>
            }
        }
    }

} else {


    @html4(true,"news",HD){


        @if(view == "summary") {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 h-content-news" >
                    <h3>@jNews.get("title").asText()</h3>
                    <br />
                    <p>
                        @jNews.get("summary").asText()
                    </p>
                </div>
            </div>
        } else {
            <div class="row">
                @for(item <- jNews.iterator()) {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 h-list" >
                        <a href='@routes.Wap.news(item.get("idNews").asInt())'>@item.get("title").asText()</a>
                    </div>
                }
            </div>
        }
    }

}