@(myError: Boolean)

<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ciudad-juego.css")">
    </head>
    <body>

        <div class="wrapper fadeInDown">
            <div class="formContent top">
                <img id="logo" src="@routes.Assets.at("ciudadjuego/images/logo.png")">
            </div>
            <br>
            <div class="formContent">
                <form action="/cj/login" method="post" id="wepa">
                    <p class="titulo">¡Bienvenido a <span style="font-weight: bold;">CIUDAD JUEGO</span>!
                        Suscríbete y empieza a disfrutar de
                        los juegos más divertidos.

                    </p>
                    <a type="submit" href="http://gprs.digitel.com.ve/suscripcionesPreview.do?idSc=9424&ac=reg&s=null" style="padding-top: 32px;" class="fadeIn fourth rcorners4">Subscribirse</a>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>