@()
<head>
    <title>login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ciudad-juego.css")">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div class="formContent">
            <div id="wepa" class="second">
                <p class="titulo reset" >Envía un
                    <span style="font-weight: bold;">SMS</span>
                    con la palabra
                    <span style="font-weight: bold;">CLAVE</span>
                    al
                    <span style="font-weight: bold;">3030</span>
                    para recuperar tu contraseña.
                </p>
            </div>
            <div id="formFooter">
                <a class="underlineHover" href="/cj/login">Volver</a>
            </div>
        </div>
    </div>
</body>
