<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gracias</title>
    <style>
        body, html { height: 100%; overflow: hidden; }
        .bg {
            background-image: url("../assets/images/learlogo.gif");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>
</head>
<body>
<a href="sms:324?&body=KLIKE" onClick="sendMessage()"><div class="bg"></div></a>
<script th:inline="javascript">
    function sendMessage(){
        var requestOptions = { method: 'GET', redirect: 'follow' };
        fetch("mark?tr_token=" + [[${clickValue}]] + "&SOURCE=" + [[${extras}]], requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    }
</script>
</body>
</html>
