<div id="wrapper" class="full-wrapper" style="top: 50px; background-color: transparent">
    <div class="scroller" style="background-color: transparent">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="well panel">
                        <!--<h3 translate>LOGIN.REMIND.HERO.TITLE</h3>
                        <h5 translate>LOGIN.REMIND.HERO.MESSAGE</h5>
                        <h6 class="text-muted" translate>LOGIN.REMIND.HERO.SMALL_PRINT</h6> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="well text-center panel">
                        <form name="form" ng-submit="sendPing()" class="form-horizontal" novalidate>
                            <fieldset>
                                <legend translate>LOGIN.REMINDMSG.LABEL</legend>


                                <!--div ng-show="form.msisdnInput.$dirty && form.msisdnInput.$invalid">
                                  <div class="alert alert-dismissable alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    <span ng-show="form.msisdnInput.$error.required">{{'FORM-CONTROL.MSISDN.REQUIRED' | translate }}</span>
                                    <span ng-show="form.msisdnInput.$error.minlength">{{'FORM-CONTROL.MSISDN.MIN-LENGTH' | translate }} {{formController.msisdn.length.min}}</span>
                                    <span ng-show="form.msisdnInput.$error.maxlength">{{'FORM-CONTROL.MSISDN.MAX-LENGTH' | translate }} {{formController.msisdn.length.max}}</span>
                                  </div>
                                </div-->

                                <div class="form-group" ng:class="{true:'has-warning', false:''}[form.msisdnInput.$dirty && form.msisdnInput.$invalid]">
                                  <div class="col-xs-9 col-xs-push-1">
                                    <div class="input-group">
                                      <span class="input-group-addon">#</span>
                                        <label for="msisdnInput" class="col-xs-2 control-label sr-only"
                                               translate>LOGIN.PING_LABEL</label>
                                        <input type="tel" class="form-control empty" ng-model="ping" ng-minlength="{{formController.ping.length.min}}" ng-maxlength="{{formController.ping.length.max}}"
                                               id="msisdnInput"  name="msisdnInput" placeholder="{{ 'LOGIN.PING_HOLDER' | translate }}" required>
                                        <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-block btn-orange touch-enable" ng-disabled="form.$invalid">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <span translate>LOGIN.REMINDMSG_LABEL</span>
                                                </div>
                                                <!-- <div class="col-xs-2 text-right">
                                                    <span><i class="mdi-navigation-chevron-right"></i></span>
                                                </div> -->
                                            </div>
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
